/* ------------------------------------------------------------------ */
/* Food Section
/* ------------------------------------------------------------------ */

#food {
    background: #ebeeee;
    padding-top: 90px;
    padding-bottom: 60px;
 }
 
 #food .city_banner img{
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: center !important;
    min-width: 250px !important;
    width:55% !important;
    margin-bottom: 50px !important;
 }
 
 #food h1 {
    width: 100%;
    font: 30px/24px 'opensans-semibold', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center !important;
    margin-bottom: 48px;
    color: #95A3A3;
 } 

/* ------------------------------------------------------------------ */
/* FOOD CARD STYLING */
/* ------------------------------------------------------------------ */
 #food .card {
   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
   transition: transform 1s;
   margin-bottom: 40px;
   border-radius: 10% 5% 5% 10%;
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   background-color: lightyellow;
   -webkit-transform-style: preserve-3d;
   transform-style: preserve-3d;
   -webkit-transition: all 600ms;
   transition: all 600ms;
   z-index: 20;
 }

 #food .card .card-front {
    /* Keeps it on the same row */
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   -webkit-backface-visibility: hidden;
   backface-visibility: hidden;
 }

 #food .card .card-back {
   position: absolute;
   bottom: 2%;
   width:100%;
   overflow: none;
    /* Keeps it on the same row */
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   /* Flipping animation */
   transform: rotateY(180deg);
   -webkit-transform: rotateX(180deg);
   transform: rotateX(180deg);
   -webkit-backface-visibility: hidden;
   backface-visibility: hidden;
 }

 #food .card img {
   width: 40%;
   border-top-left-radius: 10%;
   border-bottom-left-radius: 10%;
 }

 /* Add some padding inside the card container */
#food .card .front-container {
   padding: 2%;
   width:60%;
 }
#food .card .back-container {
   padding: 2%;
   width: 100%;
 }

#food .card .restaurant-title{
   font-family: 'Lobster Two', cursive !important;
   font-size: 70px !important;
   text-align: center !important;
   margin-bottom: 30px !important;
   color: black !important;
}

#food .card .restaurant-title a {
   color: black !important;
}

#food .card .card-tags {
   font-size: 25px !important;
   font-family: 'Merriweather', serif !important;
   text-align: justify !important;
}

#food .card .card-back p {
   width: 100%;
   word-break: break-word;
}

/* Spreads the Tags across the line */
#food .card .card-tags span {
  width:100%;
  height:0em;
  display:inline-block;
}

#food .card .goto_menu {
   font-size: 30px !important;
   font-family: 'DM Mono', monospace !important;
   margin-bottom: 15px !important;
   text-align: left !important;
}

#food .card .menu-items {
   text-align: left !important;
   font-family: 'DM Mono', monospace !important;
   font-size: 28px !important;
   color: black !important;
}

#food .card .menu-items li {
   line-height: 30px;
}

/* Flipping CARD */

#food label:hover .card {
   -webkit-transform: rotateX(10deg);
   transform: rotateX(10deg);
   box-shadow: 0 20px 20px rgba(50,50,50,.2);
}

#food input {
   display: none;
}

#food :checked + .card {
   transform: rotateX(180deg);
   -webkit-transform: rotateX(180deg);
}

#food label:hover :checked + .card {
   transform: rotateX(180deg);
   -webkit-transform: rotateX(180deg);
   box-shadow: 0px 20px 20px rgba(255,255,255,.2);
}

#food label {
   -webkit-perspective: 1000px;
   perspective: 1000px;
   -webkit-transform-style: preserve-3d;
   transform-style: preserve-3d;
   /* cursor: pointer; */
}

/* Read More */
.read-more-state {
   display: none;
 }
 
 .read-more-target {
   opacity: 0;
   max-height: 0;
   font-size: 0;
   transition: .25s ease;
 }
 
 .read-more-state:checked ~ .read-more-wrap .read-more-target {
   opacity: 1;
   font-size: inherit;
   max-height: 999em;
 }
 
 .read-more-state ~ .read-more-trigger:before {
   content: 'Show more';
 }
 
 .read-more-state:checked ~ .read-more-trigger:before {
   content: 'Show less';
 }
 
 .read-more-trigger {
   cursor: pointer;
   /* display: inline-block; */
   text-align: center !important;
   padding: 0 .5em;
   color: #666;
   font-size: .9em;
   line-height: 2;
   /* border: 1px solid #ddd; */
   /* border-radius: .25em; */
 }